header{
    /* border: 2px solid red; */
    max-height: 5vh;
    /* margin-top: 16px; */
    
}

header > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header > nav > ul{
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    gap: 16px;
    margin-right: 16px;
    cursor: pointer;
}

header img {
    width: 30px;
    
}

a:hover {
    color: white ;
}

a {
    transition: 0.5s ease-in-out;
}

/* hacer hamburguer */

.main-nav {
    display: flex;
    margin-right: 30px;
  
  }
  .logo {
    display: flex;
    justify-content: center;
    
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
    
  }

  .main-nav li {
    margin: 0;
    nav-left: 40px;
    align-items: center;
    
  }
  .nav-links {
    font-size: 12px;
    
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
    
  }