header{
    /* border: 2px solid red; */
    max-height: 5vh;
    /* margin-top: 16px; */
    
}

header > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header > nav > ul{
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    gap: 16px;
    margin-right: 16px;
    cursor: pointer;
}

header img {
    width: 30px;
    
}

a:hover {
    color: white ;
}

a {
    transition: 0.5s ease-in-out;
}