.Tittle{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    font-size: 32px;
 
}

.card-project {
    display: flex;
    height: auto;
    width: 100%;
    transition: transform 0.3s;
   
    
}

.img-project {
    height: 200px;
    width: 300px;
    margin-top: 16px;
    background: transparent ;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
 
}


.card-img-main{
    display: flex;
    justify-content: center;
    
    
}



.card-right {
    padding: 16px;
    width: 70%;
    
}

.card-left {
    width: 30%;
    padding: 0 1rem 5rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.container-tech {
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 16px;
    bottom: 0;   
    
}

.icon-tech {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}


h4 {
    border-bottom: 2px solid var(--terciary-color-dark);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-right > p {
    font-weight: 100;
    text-align: justify;
    color: white;
    padding: 35px;
    
}

.info-project {
    color: #ffffff;
    font-size: 15px;
    padding: 4px;
 
}

.info-card{
    padding: 16px;
    margin-bottom: 16px;
}

.link-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
       
}

.link-icon:hover {
    transform: scale(1.1);
}

.a-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.a-card > a{
    display: flex;
    gap: 16px;
    padding: 16px;
    align-items: center;
}
/* ---------------------------------- */
/* animacion entrada */
@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img{
    view-timeline-name: --revealing-image;

        animation-name:show;
        animation-fill-mode: both ;
        animation-timeline: --revealing-image ;

        animation-range: entry 25%;

}


/* ---------------------------------- */
/* @media screen and (max-width: 1024px) {
    .card-project {
        display: flex;
        flex-direction: column;
    }

    .card-left {
        width: 100%;
    }

    .card-right {
        width: 100%;
    }
    
} */

@media screen and (max-width: 768px) {
    .img-project{
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 620px) {
   
    .card-project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width:100% ;
        margin: 0;
    }
 
 
 
    .card-right {
        padding: 6px;
        width: auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        
    }
    
    .card-left {
        width: 100%;
        padding: 0 1rem 5rem 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        
        
    }
    h4 {
        border-bottom: 2px solid var(--terciary-color-dark);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .img-project{
        width: 200px;
        height: 300px;
        margin: 0;
    }
    
    
}